<form action="/classes" method="post">
  <dl>
    <dt>
      <label for="class_name">Enter the name and number of students for your new class:</label>
    </dt>
    <dd>
      <input name="class_name" placeholder="Class Name" type="text" value="">
      <input name="num_students" placeholder="Number of Students" type="text" value="">
    </dd>
  </dl>
  <fieldset class="actions">
    <input type="submit" value="Save">
    <a href="/classes">Cancel</a>
  </fieldset>
</form>